.container{
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}
.navbar-img {
    padding: 20px;
    width: 100px;
    height: 50px;
    border-radius: 0; 
}
.header__container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.navbar__list{
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 300px;
}
.navbar__item{
    margin: 30px;
   
}
.navbar__link {
    text-decoration: none;
    color: #9597A5;
    font-family: "PublicSans" ,sans-serif;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: -0.10769230872392654px;
    text-align: left;    
    transition: all 0.7s ease;
    position: relative; 
    display: inline-block;
}
.navbar__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:rgb(223, 196, 26);
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease;
}
.navbar__link:hover::after {
    transform: scaleX(1); 
    background-color:rgb(232, 193, 22); 
}
.navbar__link:hover{
    transform: scale(1.1);
    color: rgb(237, 143, 27);
}
.navbar__button{
    border: none;
    width: 150px;
    height: 40px;
    top: 643px;
    left: 246px;
    border-radius: 15px;
    background-color: rgb(163, 43, 15); 
    color: rgb(254, 254, 255);  
}
.navbar__button:hover{
    background-color: transparent;
    color: rgb(224, 149, 18);
    border: 1px solid rgb(231, 188, 16);
    transform: scale(1.1);
    transition: 1s;
}


/* ------------------------------------------------------------------hero---------------------------------------------------------- */

.hero__container{
    display: flex;
    align-items: center;
}
.hero__list{
    list-style: none;
}
.hero__title{
    font-family: sans-serif;
    width: 400px;
}
.hero__text{
    font-family:sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.hero__button{
    border: 1px solid #DC780B;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    color: #faf9f7;
    background: #DC780B;
}

/* --------------------------------------group=---------------------------------------------------------------- */

.group__button{
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #DC780B;
    color: #DC780B;
}
.hero__button:hover{
    background: rgb(18, 244, 22);
}
.group__button:hover{
    background: #15157f;
}

/* -------------------------------------------------------------food-------------------------------------- */


.food__text{
    text-align: center;
    color: #DC780B;
}
.food__title{
    text-align: center;
}
.food__hr{
    width: 80px;
    height: 2px ;
    background: rgb(236, 226, 226);
    border-radius: 5px;
}

/* -----------------------------------------wrapper---------------------------------------------------------------- */


.wrapper__container{
    display: flex;
    text-align: center;
}
.wrapper__list{
    list-style: none;
    display: flex;
}
.wrapper__item{
    margin: 20px;
}
.wrapper__title{
    font-family: sans-serif;
}
.wrapper__text{
    font-family: sans-serif;
}
.wrapper__img{
    width: 70px;
    height: 70px;
}


/* --------------------------------------------------------------menu------------------------------------------------------------ */

.menu__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.menu__text{
    color: #DC780B;
    text-align: center;
}


/* -------------------------------------------------------bosh------------------------------------------------------------- */

.bosh__title{
    font-family: sans-serif;
    text-align: center;
}
.bosh__text{
    text-align: center;
}


/* -----------------------------------------------------about------------------------------------------------------------ */

.about__container{
  display: flex;

  align-items: center;
  justify-content: center;
    
}
.about__img{
    border-radius: 20px;
    margin-right: 60px;
}
.about-box{
    width: 300px;
}
.about__text{
    color: #DC780B;
}

/* --------------------------------------------------------------box------------------------------------- */

.box__title{
    
    font-family: sans-serif;
}
.box__text{
 
    font-family:sans-serif ;
}
.box__button{
 
    height: 50px;
    border-radius: 10px;
    border: 1px solid #0c0c0cb5;
    color: #f2eeea;
    background: #DC780B;
}

/* =-----------------------------------------------------teg------------------------------------------------------ */

.teg{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.teg__container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.teg__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.teg__item{
    padding: 20px;
    width: 250px;
    height: 250px;
    background: transparent;
    margin: 20px;
    box-shadow: 15px 50px 50px 10px #E5E9F666;
}


/* ====-------------------------------------------------------------wrapper2------------------------------------------------ */


.wrapper2{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper2__container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.wrapper2__text{
    color: #DC780B;
}


/* ------------------------------------------------------------------mai]n------------------------------------------ */

.main__title{
    font-family: Muli;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0em;
    color: black;
    list-style: none;
}
.main__text{
    font-size: 20px;
    color: #7D7987;
    margin: 40px;
}


/* ---------------------------------------------------------------wrapper1-------------------------------------- */

.wrapper1__list{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}
.wrapper1__item{
    padding: 20px;
    width: 300px;
    height: 500px;
    background: transparent;
    margin: 20px;
    box-shadow: 15px 50px 50px 10px #E5E9F666;
    border-radius:5px;
}
.wrapper1__title{
    font-size: 34px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}
.wrapper1__text{
    width: 300px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.wrapper1__img{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* --------------------------------------------------------------inner--------------------------------------------------------- */

.inner{
    display: flex;
    justify-content: space-between;
}
.save__container{
    list-style: none;
    text-align: center;
}
.save__button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: #e77809;
    background:rgb(248, 245, 240);
}

.app__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
}
.app__list{
    display: flex;
    list-style: none;
}
.app__item{
    margin: 50px;
}
.app__title{
    font-family: sans-serif;
    width: 500px;
    font-size: 31px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;

}
input{
    padding: 10px 40px;
    border: none;

}
.app__text{
    width: 500px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.span__text{
    color: #DC780B;
}



.testimonial__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 600px;
}
.tex__text{
    color: #DC780B;
}
.vector__bon{
    text-align: center;
}
.bon__text{
    text-align: center;
}
.testimonial__making{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 450px;
}
.making__title{
     font-family: sans-serif;
}







.Contact__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 700px;
    list-style: none;
}
.Contact__text{
    color: #DC780B;
}
.Contact__list{
    list-style: none;
    display: flex;
}



.footer{
    background: rgb(22, 22, 22);
}
.footer__container{
    border-radius: 15px;
}
.footer__list{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.footer__title{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: antiquewhite;
}
.footer__link{
    color: aliceblue;
    font-family:sans-serif;
    text-decoration: none;
    line-height: 40px;
}
.footer__text{
    width: 600px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: aliceblue;}
